@import '../../../../../styles/common.scss';

.RightProfile {
  @include display-flex(center, center);
  width: 100%;
  margin-top: 40px;
  padding-left: 15px;

  #rightProfileThum {
    font-size: 30px;
  }

  .rightProfileText p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 8px;
  }
}
