@import '../../../../styles/common.scss';

.mobile-display {
  position: relative;
  display: flex;
  margin-left: -60px;

  .inner-img {
    position: absolute;
    top: 100px;
    left: 150px;
    transform: translateX(0.3%);
  }
}
