@import '../../../styles/common.scss';

.commentList {
  padding: 0 10px;

  .commentBox {
    display: flex;
    font-size: 1.1rem;
    padding-bottom: 3px;

    .commentContent {
      flex: 1;
      width: 60%;
      padding-left: 5px;
    }

    .commentName {
      font-weight: 600;
      font-size: 1.1rem;
      text-decoration: none;
      color: black;
    }

    .moreBtn {
      color: #8e8e8e;
      background-color: transparent;
      font-size: 1.1rem;
      cursor: pointer;
    }

    .likeBtn.fas {
      color: #ee455d;
    }

    .deleteBtn,
    .far,
    .fas {
      cursor: pointer;
      padding-left: 7px;
      font-size: 1rem;
    }
  }
}

/* 댓글달기 */
.commentInputBox {
  @include display-flex(space-between, default);
  padding: 20px 10px;
  border-top: 1px solid rgb(237, 237, 237);

  .commentInput {
    flex-grow: 1;
    font-size: 1.1rem;
  }

  .commentInput:focus {
    outline: none;
  }

  .commentInput:focus::placeholder {
    color: transparent;
  }

  .commentBtn {
    margin-left: 5px;
    color: $color-active;
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .commentBtn:disabled {
    color: #cfe7fc;
  }
}
