.MainRight {
  width: 300px;
  margin-left: 20px;
  position: fixed;

  .rigthFoot {
    margin-top: 15px;
    width: 300px;
    height: 80px;
    color: rgb(207, 207, 207);
  }

  .grayText {
    color: rgb(161, 161, 161);
  }

  .linkText {
    color: blue;
  }
}

@media (max-width: 800px) {
  .MainRight {
    display: none;
  }
}
