@import '../../../../../styles/common.scss';

div[class$='summer'] footer {
  .footer-bottom {
    span {
      color: $color-darkgray;
      font-size: 12px;
    }
  }
}

.Login-summer footer {
  .footer-bottom {
    @include display-flex(center, unset);

    select {
      margin-right: 10px;
      width: 55px;
      border: none;
      background: none;
      font-size: 12px;
      color: $color-darkgray;
    }
  }
}
