@import '../../../../../styles/common.scss';

.commentBox {
  display: flex;
  background-color: white;
  border-top: 1px solid $color-darkgray;

  #new-comment {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-left: 15px;
    resize: none;
    background-color: transparent;
    border: none;
    padding-bottom: 20px;
    &:focus {
      outline: none;
    }
  }

  #submitBt {
    background-color: transparent;
    color: $color-active;
    width: 20%;
  }
}
