$color-active: #0095f6;
$color-darkgray: #97989b;
$color-lightgray: #dbdbdb;
$color-black: #262626;
$color-facebook: #385185;

@mixin display-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin bold-text($size: 14px, $color: $color-black) {
  font-weight: 600;
  font-size: $size;
  color: $color;
}

@mixin radius-img($border-color: #dbdbdb) {
  border-radius: 50%;
  border: 1px solid $border-color;
  object-fit: cover;
}

h1 {
  font-family: 'Lobster', cursive;
}

.top-header {
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
}

/* MEDIA QUERY */

/* 1129px이하*/
@media screen and (max-width: 1129px) {
  .top-header .top-header-contents {
    width: 900px;
  }
}

/* 974px 이하 */
@media screen and (max-width: 974px) {
  .top-header .top-header-contents {
    width: 90%;
  }
}

/* 699px 이하 */
@media screen and (max-width: 699px) {
  .top-header {
    margin-bottom: 10px;
  }
  .search-container {
    display: none;
  }
}

/* 634px 이하 */
@media screen and (max-width: 634px) {
  .top-header {
    margin-bottom: 2px;
  }
}
