@import '../../../../../styles/common.scss';

.RightStory {
  margin-top: 15px;
  width: 300px;
  height: 200px;
  background-color: white;
  board: 1px solid $color-darkgray;
  padding: 15px 15px;

  .rightStoryTop {
    @include display-flex(space-between);
  }

  .rightStoryContent {
    margin-top: 15px;
    display: flex;
  }

  .fas {
    font-size: 35px;
  }

  .rigtStoryConetntID {
    margin-left: 20px;
  }
}
