@import '../../../../../styles/common.scss';

.Suggestion {
  margin-top: 15px;
  width: 300px;
  height: 200px;
  background-color: white;
  padding: 15px 15px;
  board: 1px solid $color-darkgray;

  .suggestionTop {
    display: flex;
    justify-content: space-between;
  }

  .suggestionContent {
    margin-top: 15px;
    display: flex;
    width: 100%;
  }

  .fas {
    font-size: 35px;
  }

  .suggestionConetntID {
    margin-left: 20px;
  }

  .suggestionFollow {
    justify-self: right;
    margin-left: auto;
  }
}
